{% block brands %}
    <div class="col-md-3">
        <p class="lead">Nos marques</p>
        <div class="list-group">
            {% if product is defined %}
                {# product detail #}
                <a href="#" class="list-group-item">Toutes les marques</a>
                {% for brand in brands %}
                    <a href="#" class="list-group-item {{ product.brand is same as(brand) ? "active" }}">{{ brand.name }}</a>
                {% endfor %}
            {% else %}
                {% if activeBrand is defined %}
                    {# products brand #}
                    <a href="{{ path('app_store') }}" class="list-group-item">Toutes les marques</a>
                    {% for brand in brands %}
                        <a href="{{ path('app_store_brand', {id: brand.id}) }}" class="list-group-item {{ brand is same as(activeBrand) ? "active" }}">{{ brand.name }}</a>
                    {% endfor %}
                {% else %}
                    {# all products #}
                    <a href="{{ path('app_store') }}" class="list-group-item active">Toutes les marques</a>
                    {% for brand in brands %}
                        <a href="{{ path('app_store_brand', {id: brand.id}) }}" class="list-group-item">{{ brand.name }}</a>
                    {% endfor %}
                {% endif %}
            {% endif %}

        </div>
    </div>
{% endblock %}