<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Bienvenue sur mon site vitrine développé à l'aide du framework de développement web Symfony">
    <meta name="author" content="Shoefony">
    <title>{% block title %}Shoefony{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ asset('css/heroic-features.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/jquery.js') }}"></script>
{% endblock %}
</body>
</html>
