{% extends 'layout.html.twig' %}
{% block title %} Produit 1 | {{ parent() }}{% endblock %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
       {{ block('brands', 'blocks/brands.html.twig') }}
        <div class="col-md-9">
            {{ block('flash', 'blocks/flash.html.twig') }}
            <p class="lead">
                Fiche descriptive : "{{ product.name|capitalize }}"
                <a href="{{ path('store_products') }}" class="btn btn-default pull-right">Retour aux produits</a>
            </p>
            <div class="row">
                <div class="thumbnail">
                    {{ block('productDetails', 'blocks/product.html.twig') }}
                </div>

                <div class="well">
                    <p class="pull-right label label-success">Actuellement {{ comments|length}} avis</p>
                    {% for comment in comments %}
                        <div class="row">
                            <div class="col-md-12">
                                    <span class="label label-info">{{ comment.pseudo }}</span>
                                    <span class="label label-default pull-right">{{ comment.createdAt.format('d/m/Y') }}</span>
                                    <p>{{comment.message}}</p>
                            </div>
                        </div>
                        <hr/>
                    {% endfor %}

                    <div>
                        {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_errors(form.pseudo) }}
                                {{ form_label(form.pseudo) }}
                                {{ form_widget(form.pseudo, {'attr': {'class': 'form-control', 'placeholder': form.pseudo.vars.label} }) }}
                            </div>
                            <div class="form-group">
                                {{ form_errors(form.message) }}
                                {{ form_label(form.message) }}
                                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': form.message.vars.label} }) }}
                            </div>
                        <button type="submit" class="btn btn-info">Envoyer mon avis</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>
{% endblock %}